* {
    box-sizing: border-box;
}

.cours-item {
    border: 2px solid rgb(19, 161, 133);
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 0.8em;
}

.cours-info {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.cours-info>.course-title {
    font-size: 2.1em;

}

.cours-options {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
}

.cours-options button {
    align-self: center;

}

.authors-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cours-options-item {
    display: flex;
    justify-content: flex-start;
    min-width: 200px;
    width: 30vw;
}

.cours-options-item p:first-child {
    font-weight: bold;
    margin-right: 5px;
}