.input {
    border: 1px solid rgb(246, 182, 5);
    font-size: 1em;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.input-container{
    width: 100%;
    min-width: 150px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
