.text-area {
    border: 1px solid rgb(230, 246, 4);
    font-size: 1em;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.text-area-container{
    width: 100%;
    min-width: 150px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}
