.course-authors-list{
    text-align: center;
}

.author-item{
    display: flex;

}
.author-list-container{
    display: flex;
    flex-direction: column;
}

.author-name{
    flex: 1;
}

.author-item-button{
    flex: 1;
    display: flex;
    justify-content: center;

}