.create-options-container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.options-container{
    display: flex;
}

.options-item{
display: flex;
flex-direction: column;
flex: 1;
padding: 30px;
}

.options-item>h2{
text-align: center;
}