*{
    box-sizing: border-box;
}

.courses-container{
    border: 2px solid rgb(0, 187, 243);
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.courses-container-options{
    display: flex;
    width: 100%;
    align-items: center;
}

.searchBar-container{
    flex: 2;
}
