*{
    box-sizing: border-box;
}

.create-container{
    border: 2px solid rgb(0, 187, 243);
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.create-container-options{
    display: flex;
    width: 100%;
    padding: 15px;
}

.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container .input-container{
    width: 50%;
    }

